$maxwidth:100%;
$cont__height:800px;
$ff:'lato';
$fs:16px;
$font-w-big:700;
$font-w-small:400;
$let-space:3px;
$link-size:13px;
$link-col:#4d4959;
$td:none;
$lst:none;
$section-col:#f7f7f7;
$soc-color:#78cdf0;